{{> header }}
<div class="container">
   <div class="jumbotron">
      <h1 class="display-4">Хлысь!!!</h1>
      <p class="lead">ОШИБКА 404!</p>
      <hr class="my-4">
      <p>Человек, ну нету у меня такой страницы, что ты делаешь - прекрати!!!</p>
      <p class="lead">
         <a class="btn btn-primary btn-lg" href="/" role="button">Главная страница</a>
      </p>
   </div>
</div>
{{> footer }}