{{> header }}
<div class="container-fluid">
   <h1 class="center">{{pagetitle}}</h1>
   <div class="row">
      {{#each news}}
      <div class="card" style="width: 18rem;">
         <img src="{{this.srcimage}}" class="card-img-top" alt="...">
         <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <!--p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p-->
            <a href="{{this.detailLink}}" class="btn btn-primary">Новость в источнике</a>
         </div>
      </div>
      {{/each}}
   </div>
</div>
{{> footer }}