<h2>Login form</h2>
<div class="error">{{ error }}</div>
<form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button>Log in</button>
</form>
<a href="/registration"><button>To registration</button></a>