<a href="/logout"><button>Log out</button></a>
<h2>Tasks grid</h2>
<div>
    {{#each tasks}}
    <div class="line">
        <div>
            {{this.title}}
        </div>
        <div>
            <a href="/tasks/{{this._id}}"><button>view</button></a>
            <a href="/tasks/update/{{this._id}}"><button>update</button></a>
            <a href="/tasks/delete/{{this._id}}"><button>remove</button></a>
        </div>
    </div>
    {{/each}}
</div>
<h4>Create new task</h4>
  <form action="/tasks" method="POST">
    <label for="title">Task title</label>
    <input type="text" name="title">
    {{!-- <label for="isDone">Done?</label>
    <input type="checkbox" name="isdone"> --}}
    <button>Create</button>
  </form>