<script>
    function sendDelete() {
        let request = new XMLHttpRequest();
        request.open("DELETE", "/tasks/" + event.currentTarget.dataset.id);
        request.onload = () => {
            window.location.reload();
        }
        request.send();
    }
</script>

<ol>
    {{#each tasks}}
        <li>
            {{this.title}}
            <form method="post" action="/priority/{{this.id}}">
                <select name="priority">
                    <option {{#if_eq this.priority 'Low'}}selected{{/if_eq}} value="Low">Low</option>
                    <option {{#if_eq this.priority 'Normal'}}selected{{/if_eq}} value="Normal">Normal</option>
                    <option {{#if_eq this.priority 'High'}}selected{{/if_eq}} value="High">High</option>
                </select>
                <button type="submit">Save</button>
            </form>
            <button data-id = {{this.id}} onclick="sendDelete()">Удалить</button>
        </li>
    {{/each}}

</ol>