input {
    padding: 4px;
}
button {
    padding: 4px 12px;
}

table {
    border-spacing: unset;
    white-space: unset;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    padding: 5px 10px;
}