<h2>Читайте последние новости из книжного мира!</h2>
<form method="POST" action="/settings">
  <label for="topics">Выберите тему</label>
  <select name="topics" id="topics">
    <option value="books">Книги</option>
    <option value="trends">Тренды</option>
    <option value="interview">Интервью</option>
    <option value="writers">Писатели</option>
    <option value="stories">Истории</option>
    <option value="bookmate">Букмейт</option>
  </select>
  <input type="submit">
</form>
