<h2>Register</h2>
  <form method="POST" action="/register">
    <input style="display:block;" type="email" name="email" placeholder="e-mail" />
    <input style="display:block;" type="text" name="username" placeholder="helloWorld" />
    <input style="display:block;" type="password" name="password" placeholder="password" />
    <input style="display:block;" type="password" name="repassword" placeholder="repeat password" />
    <input type="submit" value="register" />
  <a href="/auth">Sign in</a>
</form>
