<form method="POST" action="/tasks/update">
    <input type="hidden" value="{{this._id}}" name="id" />
    <input type="text" value="{{this.title}}" name="title" placeholder="Введите название" />
    <input type="submit" value="Сохранить" />
</form>