<div>
    <h1>Имя пользователя: {{username}}</h1>
    {{#if age}}
    <div>Возраст: {{age}}</div>
    {{/if}}

    <ol>
        {{#each skills}}
        <li>{{this}}</li>
        {{/each}}
    </ol>
</div>

<h2>Для ДЗ</h2>
<form method="POST" action="/settings">
    <input type="text" name="param1" placeholder="Сколько новостей на 1 страницу необходимо вывести">
    <input type="submit">
</form>