@font-face {
    font-family: "Roboto";
    src: url("../public/fonts/Roboto/Roboto-Light.ttf");
}

.container {
    font-family: "Roboto";
    margin: 0 auto;
    width: 75%;
    height: 100vh;
    padding: 1rem;
    background-color: #e0ddd3;
    display: flex;
    flex-direction: column;
    align-items: center;
}