<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    {{> nav}}
    {{{body}}}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/script.js"></script>
</body>

</html>
