<nav>
    <ul class="nav-menu">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/news">News</a>
        </li>
        <li>
            <a href="/tasks">Tasks</a>
        </li>
        <li>
            <a href="/tasks/history">History of tasks</a>
        </li>
    </ul>
</nav>
