<head>
    <link rel="stylesheet" href="style.css">
</head>

<header class="header">
    <h2 class="title">Node JS GB lesson 4</h2> 
</header>

<div class="container">
    <nav class="navigation">
        <a href="/users" class="link__item">Список пользователей</a>
        <a href="/news" class="link__item">Список новостей</a>
        <a href="/tasks" class="link__item">Список TODO</a> 
    </nav>
</div>