<form action="/" method="post">
    <label>Категория
        <select name="category">
            <option value="auto">Авто</option>
            <option value="world">В мире</option>
            <option value="gadgets">Гаджеты</option>
            <option value="sport">Спорт</option>
            <option value="football">Футбол</option>
            <option value="hockey">Хоккей</option>
            <option value="science">Наука</option>
            <option value="society">Общество</option>
            <option value="health">Здоровье</option>
            <option value="politics">Политика</option>
        </select>
    </label>
    <label>Количество новостей
        <select name="count">
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
        </select>
    </label>
</form>